{{page-title "Vlaamse regeringen"}}
<div class="layout-row flex">
<!--  <PaperToolbar>-->
<!--    <PaperToolbarTools>-->
<!--      <LinkTo  @route="governments">-->
<!--        <h2 >-->
<!--          Minister management-->
<!--        </h2>-->
<!--      </LinkTo>-->

<!--      <span class="flex"></span>-->
<!--      <LinkTo @route="governments" >-->
<!--        Regeringen-->
<!--      </LinkTo>-->
<!--      <LinkTo @route="ministers">-->
<!--        Ministers-->
<!--      </LinkTo>-->
<!--      <LinkTo @route="authorities">-->
<!--        Beheer-->
<!--      </LinkTo>-->
<!--    </PaperToolbarTools>-->
<!--  </PaperToolbar>-->
<h2>HELLO
</h2>
</div>
<div class="layout-row flex">
  {{outlet}}
</div>

