{{page-title "Regeringen"}}
<div class="row">
  <div class="col-6">
    <Governments::GovernmentList @governments="{{@model}}"></Governments::GovernmentList>
  </div>
  <div class="col-6">
    <div class="row">
      <LinkTo @route="governments.new" class="btn btn-primary mt-2" role="button">
        Regering toevoegen
      </LinkTo>
    </div>
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>

